<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>RizhiFilterServlet</filter-name>
        <filter-class>com.guangyang.controller.RizhiFilterServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RizhiFilterServlet</filter-name>
        <url-pattern>/lanjie</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SerQuanFiltetServlet</filter-name>
        <filter-class>com.guangyang.controller.SerQuanFiltetServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SerQuanFiltetServlet</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <!--拦截-->
    <servlet>
        <servlet-name>ManagerNewServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManagerNewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerNewServlet</servlet-name>
        <url-pattern>/lanjie/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerJueseServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManagerJueseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerJueseServlet</servlet-name>
        <url-pattern>/lanjie/juese</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerYonghuServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManagerYonghuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerYonghuServlet</servlet-name>
        <url-pattern>/lanjie/yonghu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerTypeServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManagerTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerTypeServlet</servlet-name>
        <url-pattern>/lanjie/type</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerRizhiServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManagerRizhiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagerRizhiServlet</servlet-name>
        <url-pattern>/lanjie/rizhi</url-pattern>
    </servlet-mapping>
    <!--城市-->
    <servlet>
        <servlet-name>UsersChinaServlet</servlet-name>
        <servlet-class>com.guangyang.controller.UsersChinaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersChinaServlet</servlet-name>
        <url-pattern>/UsersChina</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectChina</servlet-name>
        <servlet-class>com.guangyang.controller.SelectChina</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectChina</servlet-name>
        <url-pattern>/SelectChina</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TypeServlet</servlet-name>
        <servlet-class>com.guangyang.controller.TypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeServlet</servlet-name>
        <url-pattern>/manage/type/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupTypeServlet</servlet-name>
        <servlet-class>com.guangyang.controller.SupTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupTypeServlet</servlet-name>
        <url-pattern>/manage/type</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>com.guangyang.controller.AdminUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/admin/user/logon</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.guangyang.controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/news/new</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListNewsServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ListNewsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListNewsServlet</servlet-name>
        <url-pattern>/news/listnews</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.guangyang.controller.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/admin/user/zqwlogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.guangyang.controller.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/admin/user/zqwlogin/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Image</servlet-name>
        <servlet-class>com.guangyang.controller.Image</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Image</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserImageServlet</servlet-name>
        <servlet-class>com.guangyang.controller.UserImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserImageServlet</servlet-name>
        <url-pattern>/index/image</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GongServlet</servlet-name>
        <servlet-class>com.guangyang.controller.GongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GongServlet</servlet-name>
        <url-pattern>/index/gongying</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TiServlet</servlet-name>
        <servlet-class>com.guangyang.controller.TiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TiServlet</servlet-name>
        <url-pattern>/index/zhuce</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QiuServlet</servlet-name>
        <servlet-class>com.guangyang.controller.QiuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QiuServlet</servlet-name>
        <url-pattern>/index/qiu</url-pattern>
    </servlet-mapping>

    <!--权限-->
    <servlet>
        <servlet-name>QuanxianServlet</servlet-name>
        <servlet-class>com.guangyang.controller.QuanxianServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QuanxianServlet</servlet-name>
        <url-pattern>/quanxian</url-pattern>
    </servlet-mapping>
    <!--用户-->
    <servlet>
        <servlet-name>YonghuServlet</servlet-name>
        <servlet-class>com.guangyang.controller.YonghuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YonghuServlet</servlet-name>
        <url-pattern>/yonghu</url-pattern>
    </servlet-mapping>

    <!--角色-->
    <servlet>
        <servlet-name>JueseServlet</servlet-name>
        <servlet-class>com.guangyang.controller.JueseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JueseServlet</servlet-name>
        <url-pattern>/manage/juese</url-pattern>
    </servlet-mapping>
    <!--ztree-->
    <servlet>
        <servlet-name>PermissionServlet</servlet-name>
        <servlet-class>com.guangyang.controller.PermissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PermissionServlet</servlet-name>
        <url-pattern>/manage/permission</url-pattern>
    </servlet-mapping>
    
    <!--上传-->
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>com.guangyang.controller.FileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/manage/file</url-pattern>
    </servlet-mapping>
    <!--文本-->
    <servlet>
        <servlet-name>WenbenServlet</servlet-name>
        <servlet-class>com.guangyang.controller.WenbenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WenbenServlet</servlet-name>
        <url-pattern>/manage/wenben</url-pattern>
    </servlet-mapping>

    <!--日志-->
    <servlet>
        <servlet-name>RizhiServlet</servlet-name>
        <servlet-class>com.guangyang.controller.RizhiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RizhiServlet</servlet-name>
        <url-pattern>/manage/index/rizhi</url-pattern>
    </servlet-mapping>

    <!--前台类型-->
    <servlet>
        <servlet-name>ShouyeTypeServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ShouyeTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShouyeTypeServlet</servlet-name>
        <url-pattern>/manage/login/type</url-pattern>
    </servlet-mapping>

    <!--留言-->
    <servlet>
        <servlet-name>LiuYanServlet</servlet-name>
        <servlet-class>com.guangyang.controller.LiuYanServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LiuYanServlet</servlet-name>
        <url-pattern>/manage/login/liuyan</url-pattern>
    </servlet-mapping>

    <!--个人资料-->
    <servlet>
        <servlet-name>Ti2Servlet</servlet-name>
        <servlet-class>com.guangyang.controller.Ti2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ti2Servlet</servlet-name>
        <url-pattern>/manage/login/ziliao</url-pattern>
    </servlet-mapping>

    <!--供求编辑page URL = /webFronts/page/SDEdit   -->
    <servlet>
        <servlet-name>SupDemEditPage</servlet-name>
        <servlet-class>com.guangyang.controller.SupDemEditPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupDemEditPage</servlet-name>
        <url-pattern>/webFronts/page/SDEdit</url-pattern>
    </servlet-mapping>

    <!--供求管理page URL = /adminMag/page/supDem   -->
    <servlet>
        <servlet-name>MagSupDemPage</servlet-name>
        <servlet-class>com.guangyang.controller.MagSupDemPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MagSupDemPage</servlet-name>
        <url-pattern>/adminMag/page/supDem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageSupDemServlet</servlet-name>
        <servlet-class>com.guangyang.controller.ManageSupDemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageSupDemServlet</servlet-name>
        <url-pattern>/admin/manage/supDem</url-pattern>
    </servlet-mapping>

    <!--供求信息  url = /webFronts/supDem/message   -->
    <servlet>
        <servlet-name>SupDemMsgServlet</servlet-name>
        <servlet-class>com.guangyang.controller.SupDemMsgServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupDemMsgServlet</servlet-name>
        <url-pattern>/webFronts/supDem/message</url-pattern>
    </servlet-mapping>

    <!--发布-->

    <servlet>
        <servlet-name>FabuServlet</servlet-name>
        <servlet-class>com.guangyang.controller.FabuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FabuServlet</servlet-name>
        <url-pattern>/index/fabu</url-pattern>
    </servlet-mapping>

    <!--新闻管理 URL = /webFronts/sousuo   -->
    <servlet>
        <servlet-name>SouSuoServlet</servlet-name>
        <servlet-class>com.guangyang.controller.SouSuoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SouSuoServlet</servlet-name>
        <url-pattern>/webFronts/sousuo</url-pattern>
    </servlet-mapping>


    <!--个人中心发布-->
    <servlet>
        <servlet-name>FabuGeRenServlet</servlet-name>
        <servlet-class>com.guangyang.controller.FabuGeRenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FabuGeRenServlet</servlet-name>
        <url-pattern>/index/geren/fabu</url-pattern>
    </servlet-mapping>

    <!--个人中心留言-->

    <servlet>
    <servlet-name>LiuyanGerenServlet</servlet-name>
    <servlet-class>com.guangyang.controller.LiuyanGerenServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>LiuyanGerenServlet</servlet-name>
        <url-pattern>/index/geren/liuyan</url-pattern>
    </servlet-mapping>

    <!--留言管理-->

    <servlet>
        <servlet-name>Liuyanguanli</servlet-name>
        <servlet-class>com.guangyang.controller.Liuyanguanli</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Liuyanguanli</servlet-name>
        <url-pattern>/index/geren/liuyanguanli</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


</web-app>